{% extends "www/parent.html" %}{% block content %}

{% block style %}
	<style>
		.intro {
			display: table;
			width: 100%;
			padding: 0;
			background-color: #e5e5e5;
			background: url({{settings.intro_image}}) center center no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			-o-background-size: cover;
		}
	</style>
{% endblock %}
<!-- Header -->
{{settings.intro_html}}
<!-- Features Section -->
<!-- About Section -->
{% for section in settings.sections %}
<div id="{{section.link|lower|replace(' ','-')}}">
  <div class="container">
    <div class="row">
	{{section.content}}
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
